* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff);
  src: url(../fonts/Montserrat-Bold.woff2);
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url(../fonts/MyriadPro-Regular.woff);
  src: url(../fonts/MyriadPro-Regular.woff2);
}
@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.woff);
  src: url(../fonts/Roboto-Light.woff2);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.banner {

  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-color: rgba(34, 34, 34, 1);
  background-position: center;
  height: 540px;
  
 
}
.page-nav{
  display: flex;
 flex-direction: column-reverse;
}
.navigation{
  display: flex;
  justify-content: center;
 height: 34px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  list-style: none;
  text-align: center;
  padding-top: 14px;
  
}
.navigation li:not(:last-child){
  margin-right: 30px;
}
.navigation a{
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 12px;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0);
  
}

.navigation a:hover{
  border-radius: 50px;
  border: 2px solid rgb(255, 255, 255);
}

a:lang(de) {
  quotes: "\201C""\201D";
}
.logo {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 40px;
}
.logo a {
  display: block;
  text-decoration: none;
}
.site-logo{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.article {
  text-align: center;
}
.headline {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.title-suggestion {
  display: block;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
}
.suggestion{
  display: block;
}
.search-button {
  padding: 16px 50px;
  margin-top: 20px;
  background-color: rgb(241, 121, 123);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  cursor: pointer;
  border: 3px solid rgb(241, 121, 123);
  border-radius: 50px;
  cursor: pointer;
}
.search-button:hover {
  background-color:  rgb(255, 255, 255);
  color:rgb(241, 121, 123);
  transition: color 0.2s linear;
}
.section-title {
  padding-top: 75px;
}
.headline-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: rgb(51, 51, 51);
  margin: 0 auto;

  text-align: center;
}
.card-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  margin-top: 20px;
}
.card {
  position: relative;
  margin-bottom: 22px;;
}
.card-info {
  margin-bottom: 30px;
  text-align: center;
}
.card-img {
  border-radius: 50%;
}
.card::after {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 100px;
  content:"";
  width: 33px;
  height: 33px;
  box-shadow: 1px 1px 2px 3px rgb(255, 255, 255);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-tv::after {
  background-image: url(../img/tv.png);
  background-color: rgb(255, 78, 80);
}
.card:hover::after{
  box-shadow: 3px 3px 6px 6px rgb(255, 255, 255);
}
.icon-coffee::after {
  background-image: url(../img/coffee.png);
  background-color: rgb(28, 215, 173);
}
.icon-buttle::after {
  background-image: url(../img/buttle.png);
  background-color: rgb(255, 165, 7);
}
.icon-airliner::after {
  background-image: url(../img/airliner.png);
  background-color: rgb(78, 115, 219);
}
.name {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgb(51, 51, 51);
  margin-bottom: 22px;
}
.paragraph {
  width: 200px;;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: rgb(133, 133, 133);
  margin: 0 auto;
}
.order-1 {
  order: -1;
}
.order-2 {
  order: -2;
}
.info {
  display: block;
  height: auto;
  max-width: 100%;
  position: absolute;
  bottom: 5px;
  right: 90px;
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50px;
}
.more{
  text-align: center;
  
}
.btn {
  padding: 15px 73px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 102, 103);
  border-radius: 50px;
  border: 2px solid rgb(241, 121, 123);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  background-color:rgb(255, 255, 255);
  color: rgb(255, 102, 103);
  transition: color 0.2s linear;
}
