@mixin pseudo($display: block, $content: '') {
  display: $display;
  content: $content;
}

@mixin bg-image($path: '', $size: cover, $repeat: no-repeat, $pos: center) {
  background-image : url($path);
  background-size: $size;
  background-repeat: $repeat;
  background-position: $pos;
}


@mixin flex($type: 'all') {
  display: flex;

  @if $type== 'all' {
    justify-content: space-between;
    align-items: center;
  } @else if $type== 'hor' {
    justify-content: space-between;
  } @else if $type== 'ver' {
    align-items: center;
  }
} 
@mixin generate-pseudo-icons($baseclass, $list, $paht, $ext) {
  @each $icons in $list {
    .#{$baseclass}#{$icon}::before {
      background-image: url(#{$path}#{$icons}.#{ext});
    }
  }
}