.btn-subscribe {
  width: 39.47%;
  height: 43px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgb(149, 225, 211);
}

.btn-subscribe__link-btn {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
