.button {
  text-align: center;
}

.button__btn {
  width: 13%;
  height: 30px;
  border: 2px solid $main-color-banne;
  background-color: $main-color-hover;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: $main-color-banner;
}
