.menu-list__link {
  color: $main-color-banner;
  line-height: 1.2;
  text-transform: uppercase;
}

.menu-list__link:hover,
.menu-list__link:focus {
  color: $main-color-hover ;
  transition: color 0.2s linear;
}

.menu-list__link:after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: $main-color-hover;
  margin-top: 10px;
  opacity: 0;
}

.menu-list__link:hover:after {
  transition: color 0.2s linear;
  opacity: 1;
}
