.overlay {
  display: none;
  background-image: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(244, 140, 130, 0.9) 100%
  );
  opacity: 0;
  position: absolute;
  transform: translate(-10px, -10px);
  width: 100%;
  height: 470px;
  z-index: 1;
  transition-duration: 1s;
}
