.services__subtitle-text-1,
.team__subtitle-text-1 {
  display: block;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: $main-color-section;
  text-align: center;
}

.services__subtitle-text-2,
.team__subtitle-text-2 {
  display: block;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: $secondary-color-section;
  text-align: center;
  margin-top: 25px;
}