.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 65px;
}

.services-list-item {
  flex-basis: 33.333%;
  padding-left: 80px;
  position: relative;
}

.services__icon {
  &::before {
    @include pseudo($display: block, $content: '');
    position: absolute;
    top: 0;
    left: 25px;
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

$icons: ALARM, LINE-GRAPH, COMPUTER, BOOK, HOME, IMAGE;

@include generate-pseudo-icons(
'services__icon--',
 '$icons',
 '../images/icon-',
 'svg');
}

.services-list-item:not(:nth-child(n + 4)) {
  margin-bottom: 100px;
}

.services-works {
  color: $secondary-color-section;
  font-size: 14px;
  font-family: 'Montserrat regular', sans-serif;
  text-transform: uppercase;
}

.services-article {
  color: $tertiary-color-section;
  font-size: 15px;
  font-family: 'Roboto reguiar', sans-serif;
}
