.team__article--text {
  width: $width - 18%;
  margin: 0 auto;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 90px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: $team-article-color;
  line-height: 1.6;
}
