.team__article--text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 90px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
}
