.team__card {
  position: relative;
  display: block;
  width: 32%;
  height: 100%;
}

.team__card:hover .overlay {
  display: block;
  box-shadow: 10px 10px rgb(149, 225, 211);
  transition-duration: 1s;
  opacity: 1;
}