.title {
  margin: 0 auto;
}

.wrapper__title {
  width: $width -35%;
}

.title__subtitle-1 {
  display: block;
  margin-bottom: 65px;
  font-size: 72px;
  font-family: 'Kaushan Script', cursive;
  color: $main-color-banner;
  text-align: center;
}

.title__subtitle-2 {
  display: block;
  font-size: 150px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: $main-color-banner;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.9;
  margin-bottom: 125px;
}
