.form {
  display: flex;
  float: left;
}

.form__info {
  width: 230px;
  height: 39px;
  font-size: 15px;
  font-family: 'Roboto';
  color: rgb(204, 204, 204);
  font-style: italic;
  line-height: 1.6;
  text-align: left;
}
