.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.menu-list__link {
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-transform: uppercase;
}