$main-color-banner: rgb(255, 255, 255);
$color-bg-image-bottom: rgb(252, 227, 138);
$color-bg-image-top: rgb(244, 140, 130);
$main-color-hover: rgb(252, 227, 138);
$main-color-section: rgb(64, 64, 64);
$secondary-color-section: rgb(51, 51, 51);
$bg-color-team-after: rgb(243, 129, 129);
$tertiary-color-section: rgb(182, 182, 182);
$team-article-color: rgb(153, 153, 153);
$color-box-shadow: rgb(149, 225, 211);
$color-border: rgb(229, 229, 229);
$color-link-footer: rgb(245, 145, 145);
$color-form-info: rgb(8, 8, 8);
$width: 100%;
$padding-top: 45px;
$icons: ALARM, LINE-GRAPH, COMPUTER, BOOK, HOME, IMAGE;
$pa

%line {
  display: block;
  content: '';
  width: 60px;
  height: 3px;
  background-color: $bg-color-team-after;
  margin: 0 auto;
  margin-top: 40px;
} 

%settings{
  color: $main-color-banner;
  line-height: 1.2;
  text-transform: uppercase;
}

%subtitle-text-1{
  display: block;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: $main-color-section;
  text-align: center;
}

%subtitle-text-2{
  display: block;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: $secondary-color-section;
  text-align: center;
  margin-top: 25px;
}
