$main-color-banner:  rgb(255, 255, 255);
$main-color-hover: rgb(252, 227, 138);
$main-color-section: rgb(64, 64, 64);
$secondary-color-section: rgb(51, 51, 51);
$bg-color-team-after: rgb(243, 129, 129);
$tertiary-color-section: rgb(182, 182, 182);
$team-article-color: rgb(153, 153, 153);
$color-box-shadow: rgb(149, 225, 211);
$color-border: rgb(229, 229, 229);