* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .wrapper {
      background-image: url(../img/picture.jpg);
  }