* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .wrapper {
      background-image: linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%), url(../img/picture.jpg);
      height: 1000px;
      background-size: cover;
     background-position: center;
      
  }.picture {
    background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1000px;
    z-index: 3;
  }
  

  