* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .wrapper {
      background-image: linear-gradient(bottom rgb(252, 227, 138), rgb(243,129,129)), url(../img/picture.jpg);
      height: 1000px;
      background-size: cover;
     background-position: center;
      
  }
 