.footer {
  border-top: 2px solid $color-border;
  margin-bottom: 10px;
  margin-top: 85px;
}

.footer__page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.footer__paragraf {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Montserrat';
  color: $secondary-color-section;
  line-height: 3.5;
  text-align: left;
}

.link-prg {
  color: $color-link-footer;
  text-decoration: none;
}

.form {
  width: $width - 68%;
  display: flex;
  float: left;
}

.form__info {
  width: $width - 39%;
  height: 39px;
  font-size: 15px;
  font-family: 'Roboto';
  color: $color-form-info;
  font-style: italic;
  line-height: 1.6;
  text-align: left;
}

.btn-subscribe {
  width: $width - 60.53%;
  height: 43px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $color-box-shadow;
}

.btn-subscribe__link-btn {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: $main-color-banner;
  text-decoration: none;
}
