@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .icon-alarm::before {
    background-image: url(../images/icon-ALARM.svg);
  }

  .icon-line::before {
    background-image: url(../images/icon-LINE_GRAPH.svg);
  }

  .icon-computer::before {
    background-image: url(../images/icon-COMPUTER.svg);
  }

  .icon-book::before {
    background-image: url(../images/icon-BOOK.svg);
  }

  .icon-home::before {
    background-image: url(../images/icon-HOME.svg);
  }

  .icon-img::before {
    background-image: url(../images/icon-IMAGE.svg);
  }
}
