.team-list {
  display: flex;
  justify-content: space-evenly;
}

.team-list-item {
  flex-grow: 0;
}

.team__card {
  position: relative;
  display: block;
}

.team__card:hover .overlay {
  display: block;
  box-shadow: 10px 10px $color-box-shadow;
  transition-duration: 1s;
  opacity: 1;
}

.team-list-image {
  margin-bottom: 25px;
}

.team-list-name {
  margin-bottom: 15px;
  text-align: center;
  color: $secondary-color-section;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.team-list-occupation {
  text-align: center;
  font-size: 15px;
  font-family: 'Roboto';
  color: $team-article-color;
  font-style: italic;
  line-height: 1.6;
}
