.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 205px;
  left: 78px;
}

.social-icon svg {
  display: block;
  width: 25px;
  height: 29px;
  fill: rgb(243, 129, 129);
}

.social-icon a:hover svg {
  fill: rgb(255, 255, 255);
}
