* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-width: 320px;
  overflow-x: hidden;
}
img{
    max-width: 100%;
    height: auto;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff);
  src: url(../fonts/Montserrat-Bold.woff2);
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url(../fonts/MyriadPro-Regular.woff);
  src: url(../fonts/MyriadPro-Regular.woff2);
}
@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.woff);
  src: url(../fonts/Roboto-Light.woff2);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  min-width: 320px;
  height: 700px;
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-color: rgba(34, 34, 34, 1);
  background-position: center;
 
}
.navigation {
  display: flex;
  height: 34px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  list-style: none;
  text-align: center;
}
.navigation li:not(:last-child) {
    margin-right: 10px;
  }
.navigation a {
  display: block;
  
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border: 2px solid rgba(255, 255, 255, 0);
}

.navigation a:hover {
  border-radius: 70px;
  border: 2px solid rgb(255, 255, 255);
}

a:lang(de) {
  quotes: "\201C""\201D";
}
.logo {
  text-align: center;
  letter-spacing: 0.03em;
}
.logo a {
  text-decoration: none;
}
a:hover{
    color:rgb(255, 255, 255);
}
.site-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.article {
  margin: 0 auto;
  padding: 0;
  
}
.center{
 padding-bottom: 135px;
}
.headline {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: 0.004rem ;
}
.title-suggestion {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: rgb(233, 215, 204);
  text-align: center;
}
 .search{
   margin: 0 auto;
 }
.btn-style {
  height: 40px;
  background-color: rgb(255, 78, 80);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  border-radius: 20px;
  border: 0;
}
.btn-style:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 78, 80);
  border: 2px solid  rgb(255, 78, 80);
  box-sizing: border-box;
  border-radius: 20px;
  transition: color 0.2s linear;
}
.headline-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: rgb(51, 51, 51);
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}
.list-item{
  margin-top: 75px;
}
.card {
  position: relative;
  width: 150px;
  margin-bottom: 22px;
  margin: 0 auto;
  border: none;
}
.card::after {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 20px;
  content: "";
  width: 33px;
  height: 33px;
  box-shadow: 1px 1px 2px 3px rgb(255, 255, 255);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.card-info {
  margin: 0 auto;
  text-align: center;
}
.card-img {
 
  border-radius: 50%;
}

.icon-tv::after {
  background-image: url(../img/tv.png);
  background-color: rgb(255, 78, 80);
}
.card:hover::after {
  box-shadow: 3px 3px 6px 6px rgb(255, 255, 255);
}
.icon-coffee::after {
  background-image: url(../img/coffee.png);
  background-color: rgb(28, 215, 173);
}
.icon-buttle::after {
  background-image: url(../img/buttle.png);
  background-color: rgb(255, 165, 7);
}
.icon-airliner::after {
  background-image: url(../img/airliner.png);
  background-color: rgb(78, 115, 219);
}
.name {
  margin-top: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}
.paragraph {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: rgb(133, 133, 133);
}
