html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
.container{
    width: 900px ;
    margin:0,auto;
    background-color: blueviolet;
}
.page-header{
    background-color: darkblue;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
   }
.site-navigetion li{
    display: inline-block;

}
div{

}
