html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
@font-face{
  font-family: Montserrat;
  src: url(../шрифт/шрифты/montserrat\ regular14/);
}
@font-face{
  font-family:Droid Serif ;
  src: url(../шрифт/шрифты/droidserif/DroidSerif-Italic.ttf);
}
@font-face{
  font-family: Droid serif;
  src: url(../шрифт/шрифты/droidserif/DroidSerif-Italic.ttf)
}
@font-face{
  font-family: Montserat;
  src: url(../шрифт/шрифты/montserrat\ bold\ 40/);
}
@font-face{
  font-family: 'Roboto', sans-serif;
  src: url(../шрифт/шрифты/Roboto-Regular.ttf);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}
.page-header {
  padding-bottom: 125px;
  padding-top: 50px;
}
.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-navigetion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 485px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Montserrat regular", sans-serif;
  font-weight: bold;
  list-style: none;
}
.site-navigetion a {
  display: block;
  text-decoration: none;
  color: rgb(34, 34, 34);
  line-height: 1.2;
  text-transform: uppercase;
}

.site-navigetion a:hover,
.site-navigetion a:focus {
  color: rgb(254, 209, 54);
  transition: color 0.2s linear;
}
s .site-navigetion a:hover:after {
  transition: color 0.2s linear;
  opacity: 1;
}
.feautures {
  margin-bottom: 100px;
}
.services {
  margin: 0;
  margin-bottom: 80px;
  text-align: center;
  color: rgb(34, 34, 34);
  font-family: "Montserrat bold", sans-serif;
  font-size: 40px;
  font-weight: Bold;
}
.italic {
  display: block;
  padding-top: 20px;
  font-size: 16px;
  font-family: "Droid Serif", cursive;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-list-item {
  flex-basis: 290px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: 100px;
  margin-bottom: 120px;
  position: relative;
}
.features-list-item::before {
  position: absolute;
  top: 0;
  left: 35%;
  content: "";
  display: block;
  height: 75px;
  width: 75px;
  background-repeat: no-repeat;
}
.icon-basket::before {
  background-image: url(../img/icon-basket.png);
}
.icon-laptop::before {
  background-image: url(../img/icon-laptop.png);
}
.icon-locked::before {
  background-image: url(../img/icon-locked.png);
}
.service-work {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: Montserat , sans-serif;
  font-size: 18px;
}
.description {
  margin: 0;
  text-align: left;
  color: rgb(155, 155, 155);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.contact-us {
  position: relative;
  padding-top: 110px;
  padding-bottom: 110px;
  padding-right: 20px;
  background-image: url(../img/Map\ Image.png);
  background-color: rgba(34, 34, 34, 1);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 20px;
}

.contact {
  margin: 0;
  margin-bottom: 80px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Montserat", sans-serif;
  font-size: 40px;
  
}
.italic-us {
  display: block;
  padding-top: 25px;
  font-size: 16px;
  font-family: "Droid Serif", italic;
  line-height: 1.2;
  text-align: center;
  color: rgb(101, 101, 101);
}
.form{
 display: flex;
 justify-content: space-between;
 width: 940px;

}
.form-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 455px;
  height: 210px;
}
.info {
  margin: 0;
  width: 455px;
  height: 55px;
  border: none;
  color: rgb(187, 187, 187);
  padding-left: 20px;
  font-family: Montserat,sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.email{
  position: absolute;
  top: 355px;
}
.subject{
  position: absolute;
  top: 435px;
}
.comment {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 455px;
  height: 210px; 

}

.text{
  position: absolute;
  top: 20px;
  left: 20px;
  color: rgb(187, 187, 187);
  margin: 0;
  border: none;
  font-family: Montserat,sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.btn {
  margin: 0 auto;
  width: 240px;
  height: 65px;
  margin-top: 30px;
}
.btn-message {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(254, 209, 54);
  font-family: Montserat,sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.form .input:valid{
  background-color: green;
}

.input:invalid{
 background-color:  red;
}
