html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat/montserrat-v13-latin-regular.woff);
  src: url(../fonts/montserrat/montserrat-v13-latin-regular.woff2);
}
@font-face {
  font-family: Droid Serif;
  src: url(../fonts/droidserif/DroidSerif-Italic.woff);
  src: url(../fonts/droidserif/DroidSerif-Italic.woff2);
}
@font-face {
  font-family: Montserat;
  src: url(../fonts/montserrat/montserrat-v13-latin-700.woff);
  src: url(../fonts/montserrat/montserrat-v13-latin-700.woff2);
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../fonts/roboto/Roboto-Regular.woff);
  src: url(../fonts/roboto/Roboto-Regular.woff2);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}
.page-header {
  padding-bottom: 125px;
  padding-top: 50px;
}
.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-navigetion {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Montserrat regular", sans-serif;
  font-weight: bold;
  list-style: none;
}
.site-navigetion a {
  display: block;
  text-decoration: none;
  color: rgb(34, 34, 34);
  line-height: 1.2;
  text-transform: uppercase;
}
.site-navigetion li:not(:last-child) {
  margin-right: 35px;
}

.site-navigetion a:hover,
.site-navigetion a:focus {
  color: rgb(254, 209, 54);
  transition: color 0.2s linear;
}
.site-navigetion a:hover:after {
  transition: color 0.2s linear;
  opacity: 1;
}
.features {
  padding-bottom: 120px;
}
.section-title {
  margin: 0;
  margin-bottom: 80px;
  text-align: center;
  color: rgb(34, 34, 34);
  font-family: "Montserrat bold", sans-serif;
  font-size: 40px;
  font-weight: Bold;
}
.section-subtitle {
  display: block;
  padding-top: 20px;
  font-size: 16px;
  font-family: "Droid Serif", italic;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-list-item {
  width: 33.33%;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: 100px;
  position: relative;
}
.features-list-item::before {
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  display: block;
  height: 75px;
  width: 75px;
  background-repeat: no-repeat;
  transform: translateX(-50%);
}
.icon-basket::before {
  background-image: url(../img/icon-basket.png);
}
.icon-laptop::before {
  background-image: url(../img/icon-laptop.png);
}
.icon-locked::before {
  background-image: url(../img/icon-locked.png);
}
.service-work {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: Montserat, sans-serif;
  font-size: 18px;
}
.description {
  margin: 0;
  text-align: left;
  color: rgb(155, 155, 155);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.contact-us {
  position: relative;
  padding-top: 110px;
  padding-bottom: 110px;
  padding-right: 20px;
  background-image: url(../img/Map-Image.png);
  background-color: rgba(34, 34, 34, 1);
  background-repeat: no-repeat;
  background-position: right;
}

.contact {
  color: rgb(255, 255, 255);
}
.section-subtitle {
  display: block;
  padding-top: 25px;
  font-size: 16px;
  font-family: "Droid Serif", italic;
  line-height: 1.2;
  text-align: center;
  color: rgb(101, 101, 101);
}
.inform {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.form-input {
  width: 50%;
}
.info {
  margin: 0;
  width: 455px;
  height: 55px;
  border: none;
  color: rgb(187, 187, 187);
  padding-left: 20px;
  font-family: Montserat, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.info:not(:last-child) {
  margin-bottom: 25px;
}
.comment {
  color: rgb(187, 187, 187);
  padding-left: 20px;
  font-family: Montserat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 215px;
  padding-top: 18px;
}
.btn {
  margin: 0 auto;
  width: 240px;
  height: 65px;
}
.btn-send {
  width: 240px;
  height: 65px;
  border: none;
  padding: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(254, 209, 54);
  text-decoration: none;
  font-family: Montserat, sans-serif;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.btn-send:hover {
  background-color: rgb(254, 209, 54);
  color: rgb(255, 255, 255);
}
input:invalid {
  border: solid 1px #ff0000;
}
input:valid {
  border: solid 1px #008000;
  background-color: rgb(255, 255, 255);
}
textarea:invalid {
  border: solid 1px #ff0000;
}
textarea:valid {
  border: solid 1px #008000;
  background-color: rgb(255, 255, 255);
}
